.image11 {

    height: 520px;
    width: 420px;

}

.col6-1_Blog {

    height: 250px;
    width: 420px;

}

.xemthem {
    height: 40px;
    border: -10px solid gray;
    border-radius: 20px 20px 20px;
    background-color: aquamarine;
    width: 100px;
}
