.image_man{

    height: 300px;

}

.col6{

   height: 300px;
   width: 100%;

}

.col6-1{
  
    height: 130px;
    width: 100%;

}

.ima{
    
    height: 400px;
    width: 100%;

}

.ANH > img{

    margin-left: 11px;

     
}

.hight{

   height: 210px;

}