<div class="container">

    <br>
    <br>
    <div class="row">
        <div class="col-3" ng-repeat="haha in danhSachInformation |limitTo: 4 ">
            <div class="card" style="width: 18rem;">
                <img class="image_man" src="/assets/Image_Woman/{{haha.image}}" alt="">
            </div>
        </div>
    </div>
    <br>

    <br>
    <center>
        <h4>INFORMATION</h4>
    </center>
    <br>
    <div class="row">
        <div class="col-6" ng-repeat="haha in danhSachInformation  |limitTo: 1 ">
            <img class="image_information" src="/assets/Image_Woman/{{haha.image}}" alt="">
            <br>
            <br>
            <br>
            <p style="color: black;"> Gu thời trang độc lạ của Binz - "thánh cuồng màu hồng",1 trong những Rapper đình
                đám nổi tiếng nhất nhì
                Showbiz đang làm điêu đứng hàng triệu con tim chị em phụ nữ Gu thời trang độc lạ của Binz - "thánh cuồng
                màu hồng",1 trong những Rapper đình đám nổi tiếng nhất nhì Showbiz đang làm điêu đứng hàng triệu con tim
                chị em phụ nữ</p>
        </div>
        <div class="col-6" ng-repeat="haha in danhSachInformation  |limitTo: 1 ">
            <img class="image_information" src="/assets/Image_Woman/{{haha.image}}" alt="">
        </div>

    </div>

    <br>
    <div class=" ANH ">
        <img src="/assets/Image_Man/canon.jpg" alt="">
        <img src="/assets/Image_Man/baba.jpg" alt="">
        <img src="/assets/Image_Man/gap.jpg" alt="">
        <img src="/assets/Image_Man/next.jpg" alt="">
        <img src="/assets/Image_Man/puma.jpg" alt="">
        <img src="/assets/Image_Man/zara.jpg" alt="">
        <img src="/assets/Image_Man/canon.jpg" alt="">
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-3" ng-repeat="haha in danhSachInformation |limitTo: 4 ">
            <div class="card" style="width: 18rem;">
                <img class="image_man" src="/assets/Image_Woman/{{haha.image}}" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <p style="color: black;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod
        tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit
        lobortis nisl aliquip commodo consequat.

        Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip commodo consequat.

        Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip commodo consequat.

        Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip commodo consequat.

        Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.</p>




</div>